{% extends 'base.html' %}

{% block head %}
<style rel="stylesheet" type="text/css">
  .related:hover {
    background-color:#dee1e3;
  }
</style>

{% endblock head %}

{% block content %}
<div class="">
  <div class="float-left border" style="width:60%;padding:10px;">
    <!-- ads -->
    <div style="margin-bottom:10px; float:left;width:50%;"></div>
    <div style="margin-bottom:10px; float:left;width:50%;"></div>
    <!-- end ads -->
    <div>
      <center><h1 style="margin-top:10px;">{{ article.title }}</h1></center>
      <center><img src="{{ article.image }}" alt="{{ article.title }}" style="width:60%;margin-bottom:15px;"></center>
      {% if not urls.longUrl == 'default' %}
        <center><a href="#next" id="jq" class="btn btn-danger disabled" tabindex="-1" role="button" aria-disabled="true"><span id="change">if counting doesn't exist please refresh</span></a></center>
      {% endif %}
      <p style="text-align:justify; white-space:pre-wrap;">{{ article.body | safe }}</p>
      <!-- ads -->
      <center><div class="" style="margin-bottom:20px;20px"></div></center>
      <!--  -->
      {% if not urls.longUrl == 'default' %}
        <center><a href="{{ urls.longUrl }}"><input style="display:none;" type="button" id="next" class="btn btn-danger" name="" value="Next for download"></a></center>
      {% endif %}
      <!-- ads -->
      <center><div class="" style="margin-top:20px;"></div></center>
      <!--  -->
    </div>
    </div>
    </div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
  time = 11;
  sinterval = setInterval(function(){
    if (time != 0) {
      time -= 1;
      $('#change').text('Wait for ' + time);
    } else {
      $('#jq').removeClass("btn-danger disabled");
      $('#jq').addClass( "btn-success" )
      $('#change').text('Click Here and Click Red Button');
    }
  }, 1000);

  $('#jq').click(function(){
    $('#next').css({
      'display':'block'
    })
  })

</script>
{% endblock js %}
